
h1{
  color: blue;
}
img{
  width:400px
}
#thirdDiv{
width: 500px;
height: 600px;
background: grey;

}
#spanId{
font-size: 18px;
margin: 50px;
}
.divClass{
  padding: 50px;
  border: 8px solid chocolate;

}
